<aside id="layout-menu" class="layout-menu menu-vertical menu bg-menu-theme">
  <!-- ! Hide app brand if navbar-full -->
  {% if not navbar_full %}
  <div class="app-brand demo">
    <a href="{% url 'index' %}" class="app-brand-link">
      <span class="app-brand-logo demo">
        <div style="background: rgba(34, 197, 94, 0.1); width: 40px; height: 40px; display: flex; align-items: center; justify-content: center; border-radius: 8px; margin-left: 12px;">
          <i class="bx bx-check-shield" style="font-size: 24px; color: #1a4f8b;"></i>
        </div>
      </span>
      <span class="app-brand-text demo menu-text fw-bold ms-2" style="color: #1a4f8b;">FakeGuard</span>
    </a>

    <a href="javascript:void(0);" class="layout-menu-toggle menu-link text-large ms-auto d-block d-xl-none">
      <i class="bx bx-chevron-left bx-sm"></i>
    </a>
  </div>
  {% endif %}


  <div class="menu-inner-shadow"></div>

  <ul class="menu-inner py-1">

    <li class="menu-item {% if 'index' == request.resolver_match.url_name or '/dashbord/' in request.path %}active open{% endif %}">
      <a href="javascript:void(0);" class="menu-link menu-toggle">
        <i class="menu-icon tf-icons bx bx-home-smile"></i>
        <div class="text-truncate" data-i18n="Dashboards">Dashboard</div>
      </a>
    </li>

  </ul>


</aside>
